<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Dupe?</h1>
    
    <label>part of face</label>
    <select>
      <option>Complextion</option>
      <option>Eyes</option>
      <option>Lips</option>
    </select>

    <form action="/dupe/<%= product._id %>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%= product.name %>" /><br />
        <input type="text" name="brand" value="<%= product.brand %>" /><br />
        <input type="text" name="price" value="<%= product.price %>" /><br />
        <input type="text" name="color" value="<%= product.color %>" /><br />
        <input type="submit" value="Update Author" />
</body>
</html>